/cmake-build-debug/littleCC
/cmake-build-debug/littleCC.exe
/cmake-build-debug/CMakeFiles/littleCC.dir/
/cmake-build-debug/CMakeFiles/3.26.4/
/cmake-build-debug/CMakeFiles/pkgRedirects/
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/tests/
